*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid black;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px;
}

header {
    background-color: grey;
    padding: 10px;
}

.flex-right {
    display: flex;
    flex-flow: row;
    background-color: coral;
    flex-basis: 5%;
    height: 30px;
}

.center {
    display: flex;
    background-color: lightblue;
    flex-basis: 90%;
    height: 30px;
    justify-content: space-around;
}

nav {
    display: flex;
    flex-direction: row;
}

.flex-left {
    display: flex;
    flex-flow: row;
    background-color: aquamarine;
    flex-basis: 5%;
    height: 30px;
}

main {
    background-color: #ED5274;
    height: 450px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

section {
    margin: auto;
}

.container {
    display: flex;
    margin-block: 20px;
    flex-basis: 25%;
}

main .container .section-1 {
    height: 400px;
    width: 400px;
    background-color: white;
} 

#section-2 {
    background-color: red;
}

#section-2 .container-1 .section-white {
    height: 400px;
    width: 400px;
    background-color: white;
    margin-left: 50px;
    margin-top: 20px;
}

#section-3 {
    background-color: lightseagreen;
}

#section-2 .container-1 .section-white {
    height: 400px;
    width: 400px;
    background-color: white;
    margin-left: 50px;
    margin-top: 20px;
}

#section-3 .container-2 .section-grey {
    height: 400px;
    width: 400px;
    background-color: white;
    margin-right: 50px;
    margin-top: 20px;
}

#section-3 .container-2 .section-grey {
    height: 400px;
    width: 400px;
    background-color: white;
    margin-right: 50px;
    margin-top: 20px;
}

#section-4 {
    background-color: lightcyan;
    height: 450px;
    margin: auto;
}

#section-4 .container-3 {
    height: 400px;
    width: 300px;
    background-color: lightgreen;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
#section-4 .container-4 {
    height: 400px;
    width: 1000px;
    background-color: green;
    margin-left: 400px;
    margin-right: 50px;
}
