*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: grey;
    height: 40px;
}

.flex-right {
    display: flex;
    flex-flow: row;
    background-color: coral;
    flex-basis: 5%;
    height: 40px;
}

.center {
    display: flex;
    background-color: lightblue;
    flex-basis: 90%;
    height: 40px;
    justify-content: space-around;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    padding: 5px;
}

.flex-left {
    displaY: flex;
    background-color: aquamarine;
    flex-basis: 5%;
    height: 40px;
}